body {
    background-color: #1b1b29; 
  }

.titulo {
  text-align: center;
  color: #0492e4; 
}

.encabezado {
  background-color: #050b3f; 
  padding: 10px; 
}

#histogram {
  color: #ffffff; 
}

.hist {
  color: #ffffff; 
}

.statistics-container {
  display: flex;
  flex-wrap: wrap;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.statistic {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  flex-basis: calc(50% - 30px);
}

.statistic-min {
  background-color: #3ea529; 
}

.statistic-max {
  background-color: #882929; 
}

.statistic-mean {
  background-color: #9bac3f; 
}

.statistic-median {
  background-color: #61346d; 
}

.statistic-variance {
  background-color: #2b22ac;
}

#minGrowthTime,
#maxGrowthTime,
#meanGrowthTime,
#medianGrowthTime,
#varianceGrowthTime {
  font-weight: bold;
}

#loading {
  display: none;
  text-align: center;
  
  font-weight: 100;
}

#loading i {
  margin-right: 5px;
}

