<!DOCTYPE html>
<html>
<head>
    <title>Estadísticas de Berries</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div class="encabezado">
        <h1 class="titulo">Statistics PokeAPI</h1>
    </div>

    <div id="loading" style="display: none; font-size: 20px; color: white;">
        <i class="fa fa-spinner fa-spin"></i> Cargando....
    </div>
    <div id="alert" style="display: none;"></div>

    <div id="histograma-container" style="width: 50%; height: 300px;">
        <canvas id="histogram" class="hist"></canvas>
    </div>

    <div id="statistics" class="statistics-container">
        <div class="row">
          <div class="statistic statistic-min">
            <p style=" font-weight: bold;">Min Growth Time: <span id="minGrowthTime"></span></p>
          </div>
          <div class="statistic statistic-max">
            <p style=" font-weight: bold;">Max Growth Time: <span id="maxGrowthTime"></span></p>
          </div>
          <div class="statistic statistic-mean">
            <p style=" font-weight: bold;">Mean Growth Time: <span id="meanGrowthTime"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="statistic statistic-median">
            <p style=" font-weight: bold;">Median Growth Time: <span id="medianGrowthTime"></span></p>
          </div>
          <div class="statistic statistic-variance">
            <p style=" font-weight: bold;">Variance Growth Time: <span id="varianceGrowthTime"></span></p>
          </div>
        </div>
      </div>
      
      
      

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("loading").style.display = "block";
            document.getElementById("alert").style.display = "none";
            
            fetch("/api/v1/pocket/allBerryStats")
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    
                    document.getElementById("loading").style.display = "none";
                    // Obtener los datos del response
                    var frequencyGrowthTime = data.data.frequency_growth_time;

                    // Mostrar el histograma de frequency_growth_time
                    var histogramData = [];
                    for (var key in frequencyGrowthTime) {
                        histogramData.push({
                            x: key,
                            y: frequencyGrowthTime[key]
                        });
                    }
                    
                    drawHistogram(histogramData);

                  
                    document.getElementById("minGrowthTime").textContent = data.data.min_growth_time;
                    document.getElementById("maxGrowthTime").textContent = data.data.max_growth_time;
                    document.getElementById("meanGrowthTime").textContent = data.data.mean_growth_time;
                    document.getElementById("medianGrowthTime").textContent = data.data.median_growth_time;
                    document.getElementById("varianceGrowthTime").textContent = data.data.variance_growth_time;

                })
                .catch(function(error) {
                    
                    document.getElementById("loading").style.display = "none";
                    document.getElementById("alert").style.display = "none";
                    console.log(error);
                });
        });

        function drawHistogram(data) {
            var ctx = document.getElementById("histogram");
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.map(function(item) { return item.x; }),
                    datasets: [{
                        label: 'frequency_growth_time',
                        data: data.map(function(item) { return item.y; }),
                        backgroundColor: 'rgba(10, 10, 220, 0.2)',
                        borderColor: 'rgba(60, 60, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
    </script>
</body>
</html>
